<%- include ("header"); -%>
<div class="head">
    <a href="http://localhost:3000/">HOME</a> 
   <link rel="stylesheet" href="about.css">
    
</div>
<div class="about-design">
<h4>ABOUT SPIKES</h4>
<p>
    Countless studies has shown that regular exercise can reduce the risk of many serious diseases, improve mental health, mood and even
    extend lifespan.Spikes is an organisation based in Nigeria and has various affiliations with the Ministry of Health, Ministry of Sports 
    and Ministry of Tourism. Spikes is concerned mainly about Fitness and Health. 
<br><br>
    Spikes is a sub-department under the Ministry of Sports created to handle exercise and fitness modules pertaining to cycling and biking. 
    This department is handled by certified health experts affiliated with the Ministry of Health. 
    <br><br>
    Annually, Spikes organises a cycling and biking competition. The venue is rotated among all African Countries and participation is opened to 
    all Africans. This competition has helped in sensitizing the public about the importance of fitness and constant exercise to our health in 
    general. It has also allowed for healthy competitions between partcipants from various countries.
</p>
</div>



<%- include("footer"); -%>