<style>
  footer {
    height: 120px;
    position: relative;
    z-index: 1;
    background: radial-gradient(circle, rgba(1, 14, 11, 1) 18%, rgba(72, 37, 124, 1) 24%, rgba(10, 47, 54, 1) 54%, rgba(1, 24, 28, 1) 69%);
    ;
    display: flex;
    justify-content: space-around;
    padding: 35px 20px 15px 20px;
}

.footer-text {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    display: inline;
    margin-right: 20px;
}

.footer-image {
    position: relative;
    height: 64px;
    width: 64px;
    border-radius: 10%;
}

</style>
    <footer class="footer-class">
        <img
          class="footer-image"
          src="https://bankimooncentre.org/wp-content/uploads/2020/06/guardian-logo-square.jpg"
          alt="Guardian-logo"
        />
  
        <img
          class="footer-image"
          src="https://nairametrics.com/wp-content/uploads/2019/03/access-bank.jpg"
          alt="access-logo"
        />
  
        <img
          class="footer-image"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/LOGO_INDOMIE.png/800px-LOGO_INDOMIE.png?20210326021540"
          alt="LOGO_INDOMIE"
        />
        <p class="footer-text">35km/hr</p>
        <p class="footer-text">70km</p>
        <p class="footer-text">3.5hr</p>
        <p class="footer-text">16.9kg</p>
      </footer>
  