<%- include ("header"); -%>
<div class="w-page">
    <link rel="stylesheet" href="services.css">
<div class="head">
    <a href="http://localhost:3000/">HOME</a> 
    <h4>SERVICES AND SUPPORT</h4>
</div>

<div class="container">
<div class="services-design">


<h6>Services We Offer</h6>
<ul>
<li>Theraphy & Physiotherapy</li>

<li>Configurations and Repairs </li>

<li>Sales of Bikes and Bicycles</li>

<li>Test Ride</li>
</ul>
<p> For More Information <a href="https://whatsapp.com/dl/">Contact</a></p>

</div>
<div class="images" >
    <img src="https://www.treloarphysio.com/wp-content/uploads/2020/07/treloar-physiotherapy-clinic-services-bike-fit-3@2x.jpg" class="img-1" alt="">
    <img src="https://media.istockphoto.com/photos/people-holding-hand-are-repairing-a-motorcycle-picture-id1051029946?k=20&m=1051029946&s=612x612&w=0&h=G0zTGJsRhcid-BrqfPtv5Y0Fj475nfytQoZ-kXMBVPE=" class="img-2" alt="">
    <img src="https://vmn-bike-eu.imgix.net/uploads/2020/12/Bike-Europe-UK-covid-bike-sales.jpg?auto=compress%2Cformat&q=50&w=600" class="img-3" alt="">
</div>


</div>

</div>




<%- include("footer"); -%>